{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="d-flex row justify-content-center align-items-center py-md-5 py-3" style="min-height: 90vh;">
        <div class="col-7">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    Payment Verifications
                </div>
                <div class="card-body">
                    <h7 class="d-flex justify-content-center">Please enter your banking details to complete your deposit of: </h7>
                    <br>
                    <h3 class="d-flex justify-content-center"> ₦{{ payment.amount }}</b></h3>
                    <hr>
                    <script src="https://js.paystack.co/v1/inline.js"></script>
                    <br>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-grow" role="status">
                            <span class="visually-hidden"></span>
                        </div>
                    </div>
                    <br>
                    <a class="d-flex justify-content-center text-muted fs-5" onclick="payWithPayStack()" href="">If you're not being redirected, click here</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function payWithPayStack(){
        let currency = "NGN"
        let plan = ""
        let ref = "{{ payment.ref }}"
        let obj = {
            key: "{{ paystack_public_key }}",
            email: "{{ payment.email }}",
            amount: "{{ payment.amount_value }}",
            ref: ref,
            callback: function(response){
                window.location.href = '{% url 'verify-payment' payment.ref %}';
            }
        }

        if (Boolean(currency)){
            obj.currency = currency.toUpperCase();
        }

        var handler = PaystackPop.setup(obj);
        handler.openIframe();
    }
    window.onload = function() {payWithPayStack()}
</script>

{% endblock content %}